body {
    font-family: Century Gothic;
    background-color: #fafafa;
}

/*1. Top Nav bar */

.navbar-fixed-top {
    background-color: #0093D1;
}

.navbar-default .navbar-nav > li > a, #logo > a, a:focus {
    text-decoration: none;
    color: #000000;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
}

.nav_selected {
    background-color: white;
}

.nav_selected a:hover {
    color: #0093D1 !important;
}

.navicon-line {
    width: 24px;
    height: 4px;
    border-radius: 1px;
    margin-bottom: 3px;
    background-color: #aaaaaa;
}

/*3. site content*/
#sb-site {
    position: relative;
    margin-top: 50px;
}

.sb-site-content {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.btn, .btn-sm {
    margin-top: 10px;
    padding: 2px 5px 2px;
    font-size: 100%;
}

h3 {
    margin-top: 0;
    padding: 0 10px 10px 10px;
}

div .left {
    margin-right: 50px;
}

/*3.1 site common sections */

.sb-site-content a, .sb-site-content a:hover, .sb-site-content a:visited {
    color: #0093D1;
}

/*3.B site common articles */
.sb-site-content article {
    margin: 10px auto 25px auto;
    background-color: #ffffff;
    box-shadow: 1px 1px 12px #555;
    padding: 5px;
}

/* table */
th {
    text-transform: uppercase;
    align: center;
}

.oid_row {
    vertical-align: top;
}

.oid_column_button {
    width: 10px !important;
    padding: 0 !important;
}

.oid_tree_button {
    padding: 0 !important;
    border-width: 0 !important;
}

.oid_tree_data {
    padding-bottom: 0 !important;
    padding-top: 5px !important;
    padding-right: 0 !important;
}

.oid_syntax {
    text-decoration: underline;
    color: #0093D1;
    padding: 0;
    margin-top: 0;
    border-width: 0;
}

/* detail bar at the bottom of tha page */
#entry_detail {
    min-height: 0;
    list-style: none;
    margin: 0;
    padding: 0 10px 10px 10px;
    border: 1px solid #ccc;
    border-width: 1px 0;
    position: fixed; /* new */
    bottom: 0; /* new */
    left: 0;
    width: 100%; /* new */
    background-color: #ffffff;
}

#search_text {
    border: 0;
    border-bottom: 1px;
}